body {
  color: #222;
  font: 16px "Noto Sans", sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column; }

header {
  background: midnightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.5em;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.5);
  z-index: 1; }
  @media (max-width: 768px) {
    header {
      font-size: 0.85rem; } }
  header > div.title > a {
    color: #ddd;
    font-family: Montserrat, sans-serif;
    font-size: 2em;
    display: flex;
    align-items: center;
    gap: 0.8rem; }
    header > div.title > a:hover {
      text-decoration: none; }
    header > div.title > a > img {
      width: 1.1em; }
  header > div.links {
    display: flex;
    align-items: center;
    gap: 1.25em; }
    header > div.links > ul {
      list-style-type: none;
      display: flex;
      gap: 1em;
      padding-inline-start: 0rem;
      padding: 0rem;
      margin: 0rem; }
      header > div.links > ul a {
        color: #ddd;
        font-size: 1.3em; }
    header > div.links i {
      font-size: 2em;
      color: #ddd; }

.content {
  display: flex;
  height: 100%;
  overflow: hidden; }

.sidebar {
  padding: 2rem;
  flex-shrink: 0;
  overflow-y: auto; }
  @media (max-width: 768px) {
    .sidebar {
      overflow-x: hidden;
      transition: width 0.1s, padding 0.1s;
      padding: 1.5rem; }
      .sidebar.hidden {
        width: 0rem;
        padding-right: 0rem;
        padding-left: 0rem; } }
  .sidebar ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 12rem;
    padding-inline-start: 0rem;
    margin: 0rem; }
    .sidebar ul ul {
      padding-inline-start: 2rem; }
    .sidebar ul li {
      padding: 0.3rem 0.5rem;
      border-radius: 0.2rem; }
      .sidebar ul li.current {
        background-color: #eee; }
      .sidebar ul li a {
        color: inherit;
        font-size: 1.1rem; }

.sidebar-button {
  display: none; }
  @media (max-width: 768px) {
    .sidebar-button {
      display: grid;
      place-items: center;
      font-size: 2rem;
      color: #888;
      width: 1em;
      height: 1em;
      position: fixed;
      left: 0.4em;
      bottom: 0.4em;
      transition: transform 0.1s; }
      .sidebar-button.on {
        transform: rotate3d(0, 1, 0, 180deg); } }
.page {
  width: 100%;
  overflow-y: auto; }
  @media (max-width: 768px) {
    .page {
      width: 100vw;
      flex-shrink: 0; } }
.home {
  background-color: whitesmoke;
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  gap: 4rem; }
  @media (max-width: 768px) {
    .home {
      padding: 3rem 1.5rem; } }
  .home .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 50vh;
    flex-shrink: 0; }
    .home .title > img {
      width: 7rem; }
    .home .title > .description {
      font-size: 1.1rem;
      font-weight: normal;
      max-width: 80vw;
      text-align: center;
      margin: 0rem; }
  .home div.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90vw;
    padding: 2rem 2.5rem;
    box-sizing: border-box;
    border-radius: 0.4rem;
    background-color: #fff;
    gap: 1rem;
    box-shadow: 0.2rem 0.2rem 0.6rem rgba(0, 0, 0, 0.2); }
    .home div.card > ul {
      display: flex;
      gap: 2rem;
      padding-inline-start: 0rem;
      justify-content: center;
      flex-wrap: wrap; }
      .home div.card > ul > li {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        width: 100%;
        max-width: 20rem; }
        .home div.card > ul > li ul {
          list-style-type: disc;
          padding-inline-start: 2rem; }
        .home div.card > ul > li > div > :first-child {
          margin-top: 0rem; }
  .home h1,
  .home h2,
  .home h3,
  .home h4 {
    font-weight: normal;
    text-align: center;
    margin: 0rem; }
  .home h1 {
    font-family: Montserrat, sans-serif;
    font-size: 2.2rem; }
  .home h2 {
    color: midnightblue;
    font-size: 1.5rem;
    font-weight: bold; }
  .home h3 {
    font-size: 1.2rem; }

article {
  padding: 3rem;
  flex-grow: 1;
  overflow: auto; }
  @media (max-width: 768px) {
    article {
      padding: 2rem; } }
  article h1 {
    font-size: 2rem; }
  article h2 {
    font-size: 1.7rem; }
  article h3 {
    font-size: 1.3rem; }
  article h4 {
    font-size: 1.1rem; }
  article h5 {
    font-size: 0.975rem; }
  article h1,
  article h2,
  article h3,
  article h4,
  article h5,
  article h6 {
    margin-top: 1.2em;
    margin-bottom: 0.5em; }
  article ul,
  article ol {
    line-height: 1.8; }
  article > :first-child {
    margin-top: 0rem; }

a {
  color: steelblue;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

pre {
  border-radius: 0.2rem; }

code {
  background-color: #444;
  color: #ddd;
  font-family: "Roboto Mono", monospace;
  display: inline-block;
  padding: 0.5rem;
  line-height: 1;
  margin: 0.2rem 0rem;
  border-radius: 0.2rem; }
  pre code {
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 1rem;
    margin: 0rem;
    line-height: unset; }

table {
  border-spacing: 0px; }

th,
td {
  padding: 0.5rem 1.5rem;
  border-bottom: 1px solid #888; }

th {
  border-top: 1px solid #888; }

blockquote {
  background: #ddd;
  color: #444;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.2rem; }
  blockquote > *:first-child {
    margin-top: 0rem; }
  blockquote > *:last-child {
    margin-bottom: 0rem; }
