[package]
name = "pen-sql"
version = "0.1.0"
publish = false
edition.workspace = true

[lib]
crate-type = ["staticlib"]

[dependencies]
ffi = { package = "pen-ffi", version = "*", features = ["runtime", "std"] }
futures = "0.3"
sqlx = { version = "0.6", features = [
  "any",
  "mysql",
  "postgres",
  "sqlite",
  "runtime-tokio-rustls",
] }
