[package]
name = "benchmark"
version = "0.1.0"
edition = "2021"

[dependencies]
criterion = "0.3.5"
im = "15.1.0"
ordered-float = "3.0.0"

[[bench]]
name = "hash_map"
harness = false

[[bench]]
name = "sum"
harness = false
