name: release
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  tag-check:
    runs-on: ubuntu-latest
    outputs:
      new_tag: ${{ env.new_tag }}
    steps:
      - uses: actions/checkout@v2
      - run: |
          git fetch --prune --unshallow --tags

          new_tag=true

          if git tag | grep v$(tools/version.sh); then
            new_tag=false
          fi

          echo new_tag=$new_tag >> $GITHUB_ENV
  release:
    needs: tag-check
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - run: curl -fsSL https://apt.llvm.org/llvm.sh | sudo bash -s 12
        if: startsWith(matrix.os, 'ubuntu-')
      - run: |
          brew install llvm@12
          echo LLVM_SYS_120_PREFIX=$(brew --prefix)/opt/llvm@12 >> $GITHUB_ENV
        if: startsWith(matrix.os, 'macos-')
      - run: cargo build --release
      - run: strip target/release/pen
      - run: echo asset=$(tools/build_asset.sh) >> $GITHUB_ENV
      - uses: actions/upload-artifact@v2
        with:
          name: ${{ env.asset }}
          path: ${{ env.asset }}
      - uses: softprops/action-gh-release@v1
        if: github.ref == 'refs/heads/main' && needs.tag-check.outputs.new_tag == 'true'
        with:
          tag_name: v${{ env.version }}
          files: ${{ env.asset }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
