name: release
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  tag_check:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ env.version }}
      new_tag: ${{ env.new_tag }}
    steps:
      - uses: actions/checkout@v2
      - run: echo version=$(tools/version.sh) >> $GITHUB_ENV
      - run: |
          git fetch --prune --unshallow --tags

          if ! git tag | grep v$version; then
            echo new_tag=true >> $GITHUB_ENV
          fi
  release:
    needs: tag_check
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - run: git log --pretty='- %s by %aN' $(git describe --tags --abbrev=0 HEAD^)..HEAD > changes.md
      - run: cat changes.md
      - run: curl -fsSL https://apt.llvm.org/llvm.sh | sudo bash -s 12
        if: startsWith(matrix.os, 'ubuntu-')
      - run: |
          brew install llvm@12
          echo LLVM_SYS_120_PREFIX=$(brew --prefix)/opt/llvm@12 >> $GITHUB_ENV
        if: startsWith(matrix.os, 'macos-')
      - run: cargo build --release
      - run: strip target/release/pen
      - run: echo asset=$(tools/build_asset.sh) >> $GITHUB_ENV
      - uses: actions/upload-artifact@v2
        with:
          name: ${{ env.asset }}
          path: ${{ env.asset }}
      - uses: softprops/action-gh-release@v1
        if: github.ref == 'refs/heads/main' && needs.tag_check.outputs.new_tag == 'true'
        with:
          tag_name: v${{ needs.tag_check.outputs.version }}
          body_path: changes.md
          files: ${{ env.asset }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  homebrew:
    needs:
      - tag_check
      - release
    if: github.ref == 'refs/heads/main' && needs.tag_check.outputs.new_tag == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          repository: pen-lang/homebrew-pen
      - run: echo version=${{ needs.tag_check.outputs.version }} >> $GITHUB_ENV
      - run: sed -i "s/version .*/version '$version'/" Formula/pen.rb
      - run: |
          hash=$(curl -fsSL https://github.com/pen-lang/pen/archive/refs/tags/v$version.tar.gz | sha256sum | cut -f 1 -d ' ')
          sed -i "s/sha256 .*/sha256 '$hash'/" Formula/pen.rb
      - uses: peter-evans/create-pull-request@v3
        with:
          title: Bump version
          branch: chore/bump-version
          token: ${{ secrets.PR_CREATION_TOKEN }}
