name: test
on:
  push:
    branches:
      - main
  pull_request:
concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    strategy:
      matrix:
        os:
          - ubuntu-22.04
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: Swatinem/rust-cache@v1
      - uses: raviqqe/enable-homebrew@main
      - run: tools/ci/github/setup.sh
      - run: tools/build.sh
      - run: git diff --exit-code
      - uses: actions/upload-artifact@v2
        with:
          name: build-${{ matrix.os }}
          path: target/release/pen
  unit_test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: Swatinem/rust-cache@v1
      - uses: raviqqe/enable-homebrew@main
      - run: tools/ci/github/setup.sh
      - run: tools/unit_test.sh
  coverage:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: Swatinem/rust-cache@v1
      - uses: raviqqe/enable-homebrew@main
      - run: tools/ci/github/setup.sh
      - run: tools/coverage.sh
      - uses: codecov/codecov-action@v2
        with:
          files: lcov.info
          fail_ci_if_error: true
  feature_tests:
    needs: build
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-22.04
          # TODO Enable integration tests on macOS.
          # - macos-latest
        index: [0, 1, 2, 3, 4, 5, 6, 7]
        total: [8]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: Swatinem/rust-cache@v1
      - uses: raviqqe/enable-homebrew@main
      - run: tools/ci/github/setup.sh
      - uses: ruby/setup-ruby@v1
      - uses: actions/download-artifact@v2
        with:
          name: build-${{ matrix.os }}
          path: target/release
      - run: chmod +x target/release/pen
      - run: tools/integration_test.sh $(find features -name *.feature | sort | awk 'NR % ${{ matrix.total }} == ${{ matrix.index }}')
  integration_test:
    runs-on: ubuntu-latest
    needs: feature_tests
    if: ${{ always() }}
    steps:
      - run: test ${{ needs.feature_tests.result }} = success
