name: test
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: tools/ci/set_up_ubuntu.sh
        if: startsWith(matrix.os, 'ubuntu-')
      - run: tools/ci/set_up_macos.sh
        if: startsWith(matrix.os, 'macos-')
      - run: cargo build
      - run: git diff --exit-code
  unit_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: tools/ci/set_up_ubuntu.sh
        if: startsWith(matrix.os, 'ubuntu-')
      - run: tools/ci/set_up_macos.sh
        if: startsWith(matrix.os, 'macos-')
      - run: cargo test
        env:
          RUST_MIN_STACK: 8388608
  integration_test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - run: tools/ci/set_up_ubuntu.sh
        if: startsWith(matrix.os, 'ubuntu-')
      - run: tools/ci/set_up_macos.sh
        if: startsWith(matrix.os, 'macos-')
      - uses: actions/setup-ruby@v1
      - run: bundler install
      - run: |
          rustup target add \
            i686-unknown-linux-musl \
            x86_64-unknown-linux-musl \
            aarch64-unknown-linux-musl \
            wasm32-wasi
      - run: cargo build --release
      - run: rm features/smoke/memory_leak.feature
        if: startsWith(matrix.os, 'macos-')
      - run: PEN_ROOT=$PWD PATH=$PWD/target/release:$PWD/tools:$PATH cucumber --publish-quiet
