name: test
on:
  push:
    branches:
      - main
  pull_request:
concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    strategy:
      matrix:
        os:
          - ubuntu-18.04
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - run: tools/ci/github/setup.sh
      - run: tools/build.sh
      - run: git diff --exit-code
      - uses: actions/upload-artifact@v2
        with:
          name: build-${{ matrix.os }}
          path: target/release/pen
  unit_test:
    runs-on: ubuntu-latest
    container: ghcr.io/pen-lang/ci:main
    steps:
      - run: sudo rm -rf /__w
      - uses: actions/checkout@v2
      - run: tools/ci/github/setup.sh
      - run: tools/unit_test.sh
  coverage:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - run: tools/ci/github/setup.sh
      - run: tools/coverage.sh
      - uses: codecov/codecov-action@v2
        with:
          files: lcov.info
          fail_ci_if_error: true
  integration_test:
    needs: build
    if: ${{ github.ref == 'refs/heads/main' || contains(github.event.pull_request.labels.*.name, 'integration-test') }}
    strategy:
      matrix:
        os:
          - ubuntu-18.04
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - run: tools/ci/github/setup.sh
      - uses: ruby/setup-ruby@v1
      - uses: actions/download-artifact@v2
        with:
          name: build-${{ matrix.os }}
          path: target/release
      - run: chmod +x target/release/pen
      - run: tools/integration_test.sh
