name: test
on:
  - push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: curl -fsSL https://apt.llvm.org/llvm.sh | sudo bash -s 12
      - uses: actions/checkout@v2
      - run: cargo build
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - run: curl -fsSL https://apt.llvm.org/llvm.sh | sudo bash -s 12
      - uses: actions/checkout@v2
      - run: cargo test
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: cargo fmt -- --check
  lint:
    runs-on: ubuntu-latest
    steps:
      - run: curl -fsSL https://apt.llvm.org/llvm.sh | sudo bash -s 12
      - uses: actions/checkout@v2
      - run: cargo clippy -- -D warnings
  spell-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: streetsidesoftware/cspell-action@main
        with:
          files: "**/*.{md,rs}"
  integration-test:
    runs-on: ubuntu-20.04
    steps:
      - run: curl -fsSL https://apt.llvm.org/llvm.sh | sudo bash -s 12
      - uses: actions/checkout@v2
      - run: sudo apt install ruby-bundler
      - run: bundler install
      - run: cargo build --release
      - run: PATH=$PWD/target/release:$PATH cucumber --publish-quiet
