name: test
on:
  push:
    branches:
      - main
  pull_request:
  merge_group:
concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    strategy:
      matrix:
        os:
          - ubuntu-22.04
          - macos-12
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
      - uses: Homebrew/actions/setup-homebrew@master
      - run: tools/ci/github/setup.sh
      - run: tools/build.sh
      - run: git diff --exit-code
      - uses: actions/upload-artifact@v4
        with:
          name: build-${{ matrix.os }}
          path: target/release/pen
  unit_test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
      - uses: Homebrew/actions/setup-homebrew@master
      - run: tools/ci/github/setup.sh
      - run: tools/unit_test.sh
  coverage:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
      - uses: Homebrew/actions/setup-homebrew@master
      - run: tools/ci/github/setup.sh
      - run: tools/coverage.sh
      - uses: codecov/codecov-action@v3
        with:
          files: lcov.info
  feature_test:
    needs: build
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-22.04
          - macos-12
        index: [0, 1, 2, 3, 4, 5, 6, 7]
        total: [8]
        exclude:
          - os: ${{ github.ref == 'refs/heads/main' && '' || 'macos-12' }}
    runs-on: ${{ matrix.os }}
    steps:
      - run: echo ${{ github.ref }}
      - uses: actions/checkout@v4
      - uses: Homebrew/actions/setup-homebrew@master
      - run: tools/ci/github/setup.sh
      - uses: ruby/setup-ruby@v1
      - uses: actions/download-artifact@v4
        with:
          name: build-${{ matrix.os }}
          path: target/release
      - run: chmod +x target/release/pen
      - run: tools/integration_test.sh $(find features -name *.feature | sort | awk 'NR % ${{ matrix.total }} == ${{ matrix.index }}')
  integration_test:
    runs-on: ubuntu-latest
    needs: feature_test
    if: always()
    steps:
      - run: test ${{ needs.feature_test.result }} = success
